.toolbox {
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
  }
  
  .toolbox h3 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #333;
  }
  
  .toolbox-item {
    padding: 10px;
    border: 1px solid #4f46e5;
    background-color: #4f46e5;
    cursor: grab;
    border-radius: 5px;
    color: #fff;
    text-align: center;
  }
  
  .toolbox-item:hover {
    background-color: #fff;
    color: #4f46e5;
  }

  .toolbox-item:not(:last-child){
    margin-bottom: 16px;
  }
  