/* CustomGridLayout.css */
  
  .layout-container {
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.1);
    flex-grow: 1;
    height: calc(100vh - 100px);   
    overflow-y: auto;
    width: auto;
    }
    .layout-container::-webkit-scrollbar {
      width: 4px;
      border-radius: 15px;
    }
  
    /* Track */
    .layout-container::-webkit-scrollbar-track {
      background: #f6f6f6;
    }
  
    /* Handle */
    .layout-container::-webkit-scrollbar-thumb {
      background: #4f46e5;
    }
  .widget-container {
    position: relative;
    /* padding: 10px;
    background-color: #f5f5f5; */
  }
  
  .remove-button {
    position: absolute;
    top: 2%;
    right: 2%;
    background: #f8f8f8;
    color: #333;
    border: none;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    cursor: pointer;
    font-size: 20px;
  }

  .react-grid-layout, .widget-container{
    height: auto !important;
  }

  .react-grid-layout .ant-card{
    border: none !important;
  }